<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.britech.absendulu">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:theme,android:usesCleartextTraffic"
        tools:targetApi="m">

        <service
            android:name=".remainder.UpdateWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activity.SendMassage"
            android:label="@string/title_activity_send_massage" />
        <activity
            android:name=".activity.RekapSlipGaji"
            android:label="Rekap Slip Gaji Personal"
            android:parentActivityName=".activity.Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.britech.absendulu.activity.Dashboard" />
        </activity>
        <activity
            android:name=".activity.RekapKehadiran"
            android:label="Rekap Kehadiran Personal"
            android:parentActivityName=".activity.Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.britech.absendulu.activity.Dashboard" />
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.Dashboard" />
        <activity
            android:name=".activity.MainActivity"
            android:label="AbsenPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingReminder"
            android:label="Pengturan Pengingat" />

        <receiver
            android:name=".remainder.SMSMessageReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>